{% extends "base.html" %}
{% block title %}Mening Blogim{% endblock %}
{% block content %}
<h1>Mening Blogim</h1>
{% for post in posts %}
    <h2>
        <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
        </a>
    </h2>
    <p class="tags">Tags: {{ post.tags.all|join:", " }}</p>
    <p class="date">
        {{ post.publish }} da {{ post.author }} tomonidan chop etilgan
    </p>
    {{ post.body|truncatewords:30|linebreaks }}
{% endfor %}
{% include "pagination.html" with page=page_obj %}
{% endblock %}
